


<h2>Home</h2>

<p class="status good" ng-show="loggedIn">Lieber Sekretär! Du bist eingellogt mit id: {{user.uid}}.</p>
<p class="status" ng-hide="loggedIn">Herzlich Willkommen. Du bist nicht <a href="#/login">eingellogt</a></p>

<input ng-model="syncedValue.$value" type="text" ng-change="syncedValue.$save()" /> <b>{{syncedValue.$value}}</b>



