<h2>Bericht</h2>
   <div class="container">
    <div id="content">
<button type="button" class="btn btn-info" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-cog" alt="Stunden" aria-hidden="true"></span></button>
	<hr>
	<div uib-collapse="isCollapsed">
		<div class="panel panel-info">
  <div class="panel-heading">Einstellungen</div>
  <div class="panel-body">
        
      
    <uib-tabset>
        <uib-tab heading="Gruppen" active="data.static1">  <div>
<h4>Gruppe hinzuf&uuml;gen</h4>
    
    
    <form role="formgroup" novalidate ng-submit="addGroup()">
        <div>
        <input type="text" ng-model="forms.newGroup.name" placeholder="Name">
        </div>
        <button type="submit">hinzufügen</button>
    </form>
        <table><tr ng-repeat="(id, group) in groups" >
            <td><input type="text" size="18" ng-model="group.name" ng-blur="updateGroup(id)"/></td>  <td><a href="" ng-click="removeGroup(id)">X</td></tr></table>    
            
            
            
        </div></uib-tab>
        <uib-tab heading="Typen" active="data.static2">Typen bearbeiten</uib-tab>
        <uib-tab heading="Verkündiger" active="data.static3">
        
        
        <div>
<h4>Verkuendiger hinzuf&uuml;gen</h4>
    
    
    <form role="form" novalidate ng-submit="addPublisher()">
        <div>
        <input type="text" ng-model="forms.newPublisher.name" placeholder="Name">
       <select class="selectpicker"  ng-model="forms.newPublisher.groupe.name">
  <option ng-repeat="(id, group) in groups"  value="{{group.name}}" >{{group.name}}</option>
 
    
</select>  
              <input type="text" ng-model="forms.newPublisher.type" placeholder="Typ">
             <input type="hidden" ng-model="forms.newPublisher.monat">
        </div>
        <button type="submit">hinzufügen</button>
    </form>
        </div>
        
        
        
        
        </uib-tab>
    </uib-tabset>
   
</div>
    </div>
        
            </div>
        
        </div>
	</div>













<div class="container fluid">
    <div class="page-header">

<input type="text" ng-model="search.$" placeholder="Filter">
        
        

        
        
        
        
        
        
<select class="selectpicker" ng-model="monat.monat" > 
  <option value="1">Jan</option>
  <option value="2">Feb</option>
  <option value="3">Mär</option>
  <option value="4">Apr</option>
      <option value="5">Mai</option>
      <option value="6">Jun</option>
      <option value="7">Jul</option>
      <option value="8">Aug</option>
      <option value="9">Sep</option>
      <option value="10">Okt</option>
      <option value="11">Nov</option>
      <option value="12">Dez</option>
    
</select> </div>

<table style="width: 500px;" class="table table-stripped">
	<tbody>
		<tr align="center">
			<td>Name</td>
            	<td><span class="glyphicon glyphicon-time" alt="Stunden" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-duplicate" alt="Abgaben" aria-hidden="true"></span></td>
			<td><span class="glyphicon glyphicon-facetime-video" alt="Videos" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-repeat" alt="R&uuml;ckbesuche" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-user" alt="Heimbibelstudium" aria-hidden="true"></span></td>
            <td>Gruppe</td>
            <td>Typ</td>
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-cog" alt="Stunden" aria-hidden="true"></span></td>
		</tr>
		<tr ng-repeat="(id, publisher) in publishers | filter:search " ng-model="monat.monat" >
          
          
			<td><input type="text" size="18" ng-model="publisher.name" ng-blur="updatePublisher(id)"/>  </td>
            <td><input type="number"  ng-model="publisher.month[monat.monat].hours" ng-change="updatePublisher(id)"/></td>
			<td><input type="number" size="3" max-width="20px" ng-model="publisher.month[monat.monat].levy" ng-change="updatePublisher(id)"/></td>
            <td><input type="number" size="3" ng-model="publisher.month[monat.monat].videos" ng-change="updatePublisher(id)"/></td>
            	<td><input type="number" size="3" ng-model="publisher.month[monat.monat].returnvisits" ng-change="updatePublisher(id)"/></td>
            <td><input  type="number" ng-model="publisher.month[monat.monat].studies" size="3"  ng-change="updatePublisher(id)"/></td>
            <td> <span ng-model="publisher.groupe.name">{{publisher.groupe.name}}</span></td>
        
            <td> <span ng-model="publisher.type">{{publisher.type}}</span></td>
             
			
            
          
            
            
            
            
            <td><a href="" ng-click="removePublisher(id)">X</td> 
                <td> <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" ng-click=" $event.stopPropagation();">
         <span class="caret" ng-click=" $event.stopPropagation();"></span>
      </button>
      <ul uib-dropdown-menu role="menu" style="min-height:100px" aria-labelledby="single-button" ng-click=" $event.stopPropagation();">
          <li role="menuitem"> <select class="selectpicker"style="width:150px" ng-model="publisher.groupe"  ng-change="updatePublisherg(publisher.$id)" class="form-control" ng-options="groupe.name for groupe in groups track by groupe.name" ng-click=" $event.stopPropagation();"></select>
</li>
     
      </ul>
    </div>
	<hr>
                  </td>
		</tr>
          
	</tbody>
</table>




<p>&nbsp;</p>
    </div>
