
<nav ng-controller="NavController" class="navbar navbar-default" role="navigation" bs-navbar>
  <div class="navbar-header">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
  </div>
     <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
  <ul class="nav navbar-nav">
        <li ng-class="getClass('/home')"><a href="#/home">Home</a></li>
        <li ng-class="getClass('/chat')"><a href="#/chat">Chat</a></li>
        <li ng-class="getClass('/report')"><a href="#/report">Bericht</a></li>
        <li ng-class="getClass('/login')" ng-hide="loggedIn"><a href="#/login">login</a></li>
           <li ng-class="getClass('/account')"  ng-show="loggedIn"><a href="#/account">account</a></li>
      </ul>
  
       
    </nav>
  

